// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */
input {
    @apply border border-gray-200 rounded shadow py-1 px-3 text-gray-600 leading-snug;
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']) {
    @apply w-full appearance-none leading-snug;
}

input[type='submit'] {
    hover:text-indigo-500;
    @apply font-bold bg-gray-300 mb-3;
}

select {
    @apply border border-gray-200 rounded shadow w-full bg-white py-1 px-3 text-gray-600 leading-snug;
}

input:focus, select:focus {
    outline: none;
    @apply shadow-outline;
}

label {
    @apply block text-gray-700 font-bold mb-1 mt-3;
}

td, th {
    @apply px-3 py-1;
}

.errorbox {
    box-shadow: 0px 0px 3px red;
}

.warningbox {
    box-shadow: 0px 0px 3px orangered;
}

.successbox {
    box-shadow: 0px 0px 3px green;
}

.form {
    @apply w-full max-w-sm bg-gray-100 border border-gray-300 rounded shadow px-6 py-2 text-sm;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */